<h1>Gnome gliders</h1>
<p>Gnome gliders are a useful method of transportation available after completing The Grand Tree. They can fly to many locations and can be used in combination with spirit trees and the fairy ring network.</p>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		{% for option in toggles.gnomeGliders %}
			<tr>
				<td>
					<input type="checkbox" id="{{ id }}-{{ item.id }}-{{ option.id }}" name="{{ option.id }}" class="toggle" {% if option.default | default(true) %}checked{% endif %} />
					<label for="{{ id }}-{{ item.id }}-{{ option.id }}">{{ option.name }}</label>
				</td>
				<td>
					{{ option.location }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>