<h1>Personalization</h1>
<p>Enter your username below. If your RuneMetrics profile is public, we'll show you more relevant routes based on your levels and completed quests.</p>
<div></div>

<h1>Quick toggles</h1>
<p>You can quickly turn on and off transportation methods here. For more control over individual teleports, use the tabs to the left.</p>

<ul class="toggle-list">
	{% for option in toggles.overview %}
		<li>
			<input type="checkbox" id="{{ id }}-{{ item.id }}-{{ option.id }}" name="{{ option.id }}" class="toggle" {% if option.default | default(true) %}checked{% endif %} />
			<label for="{{ id }}-{{ item.id }}-{{ option.id }}">{{ option.name }}</label>
		</li>
	{% endfor %}
</ul>