<!DOCTYPE html>
<html lang="en">
<head>
	<title>Doogle Maps</title>
	<meta charset="utf-8" />
	<meta name="description" content="RuneScape Maps"/>
	<meta name="keywords" content="runescape, rs, map, maps, runescape map, wiki, wikia, runescape wikia, find, npcs, locations, monsters, path, pathfind"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

{#
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" />
#}
	<link rel="stylesheet" href="assets/css/leaflet.css" />
	<link rel="stylesheet" href="assets/css/leaflet.fullscreen.css" />

	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

	{% block content %}{% endblock %}

	<!-- Scripts -->
	<script src="assets/js/app.js"></script>

</body>
</html>