
/* Map Controls */

	#controls {
		cursor: default;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0.5em;
		z-index: 100;

		button {
			@extend %container;
			color: _palette(fg);
			margin: 0 0.5em;
			font-size: 0.8em;
			font-weight: bold;

			&:hover {
				color: lighten(_palette(fg), 5%);
			}
		}

		.group {
			display: inline;
			
			button {
				margin: 0;
				margin-right: -4px;
				border-radius: 0;
				
				&:first-child {
					border-top-left-radius: _size(border-radius);
					border-bottom-left-radius: _size(border-radius);
					margin-left: 0.5em;
				}

				&:last-child {
					border-top-right-radius: _size(border-radius);
					border-bottom-right-radius: _size(border-radius);
					margin-right: 0.5em;
				}
			}
		}
	}