
/* Directions panel */

	$highlight-color: #2ba0e7;
	$border-dark-color: #444e5a;

	#search {
		
		#directions--overview {

			#directions--overview__locations {
				padding: 1em 1.5em;
				background-color: $modal-bg-color;
				display: table;
				width: 100%;

				>.location {
					display: table-row;

					>* {
						display: table-cell;

						&.legend {
							text-align: right;
							padding-right: 0.2em;
						}

						&.name {
							color: black;
						}
					}
				}
			}

			#directions--overview__results {
				
				li {
					padding: 1em 1.5em;
					border-top: $modal-border;
					cursor: pointer;
					transition:
						color #{_duration(transition)} ease,
						background-color #{_duration(transition)} ease;

					&:hover {
						background-color: $modal-bg-color;
					}

					&.recommended {
						border-left: 7px solid $highlight-color;
					}

					p {

						&.method {
							font-size: 1.2em;
							font-weight: bold;
						}

						&.duration {
							color: gray;
							font-size: 1em;
							line-height: 2.5em;
							font-weight: bold;
							float: right;
						}

						&.requirements {

						}

						&.details {
							color: $highlight-color;
						}
					}
				}
			}
		}

		#directions--details {
			

			#directions--details__back {
				padding: 1em 3em;
				line-height: initial;
				background-color: $modal-bg-color;
				border-bottom: $modal-border;
				position: relative;
				cursor: pointer;
				transition:
					color #{_duration(transition)} ease,
					background-color #{_duration(transition)} ease;

				&::before {
					content: '\f104';
					font-family: FontAwesome;
					font-size: 30px;
					color: $border-dark-color;
					position: absolute;
					top: 30%;
					left: 0.55em;
					transition:
						color #{_duration(transition)} ease,
						background-color #{_duration(transition)} ease;
				}

				p {
					margin: 0;
				}

				.duration {
					color: gray;
					font-size: 0.8em;
				}
			}

			#directions--details__steps {
				
				li {
					padding: 0.5em 1.5em 0.5em 3em; /* top, right, bottom, left */
					border-bottom: $modal-border;
					position: relative;
					transition:
						color #{_duration(transition)} ease,
						background-color #{_duration(transition)} ease;

					a {
						color: $highlight-color;
					}

					&:hover {
						background-color: darken($modal-bg-color, 5%);
					}

					&::before {
						content: '';
						background-color: #cbd1d7;
						width: 6px;
						height: 110%;
						border: 1px solid #aab2bb;
						border-radius: 2px;

						position: absolute;
						top: 55%;
						left: 23px;
					}

					&:last-child {
						&::before {
							display: none;
						}
					}

					&::after {
						content: '';
						background-color: white;
						width: 22px;
						height: 22px;
						border: 3px solid $border-dark-color;
						border-radius: 50%;
						
						position: absolute;
						top: 35%;
						left: 15px;
					}

					&.start,
					&.end {
						font-weight: bold;
						font-size: 1.2em;
					}
					&.start::after {
						background-color: #6bc71f;
					}
					&.end::after {
						background-color: #f54636;
					}

					&.walk {
						&::after {
							display: none;
						}
					}
				}
			}
		}
	}