
/* Map */

#map {
	height: 100%;
	width: 100%;
	z-index: 0;
}

.leaflet-container {
	background-color: black;
}

.leaflet-control-attribution {
	background: transparent !important; // rgba(255, 255, 255, 0.2) !important
	padding: 5px;
}
.leaflet-control-attribution a {
	color: #003a52 !important;
}

.leaflet-control-container {

	> div { // fix
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		&.vertical {
			flex-direction: column;
			align-items: flex-end;
		}
	}

	.leaflet-control-zoom > a { // fix
		float: left;
	}
	.leaflet-control-zoom-level {
		width: initial !important;
		padding: 0 10px !important;
	}
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out { // fix
	font-size: 100% !important;
	line-height: 30px !important;
}


.marker-text-icon {
//	width: auto !important;
//	height: auto !important;
	color: #e6e6e6;
	background: transparent;
	border: none;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 110%;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	white-space: nowrap;

//	left: -100px;
}

.leaflet-tile-pane img,
.leaflet-canvas-icon-layer {
	image-rendering: pixelated;
}