
/* Search Bar */

	#search {
		@extend %container;
		cursor: default;
		width: 485px;
		max-width: 95vw;
		max-height: 95vh;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0.5em;
		height: auto;
		border: none;
		border-radius: 4px;
		overflow: auto;
		z-index: 100;

		@include breakpoint('<=xlarge') {
			width: 400px;
		}

		@include breakpoint('<=small') {
			width: 50vw;
		}

		@include breakpoint('<=xsmall') {
			width: 100vw !important;
			margin-top: 60px;
		}

		>* {
//			padding: 0 1.5em;

			&.hidden {
				display: none;
			}
		}

		.legend {
			color: gray;
		}

		p {
			margin: 0;
			color: #000;
		}

		.prev {
			display: block;
			padding: 0.5em 1.5em;
			background-color: $modal-bg-color;
			border-top: $modal-border;
			border-bottom: $modal-border;

			&::before {
				font-size: 0.8em;
				line-height: 2em;
			}

			&:hover {
				cursor: pointer;
				background-color: darken($modal-bg-color, 5%);
				transition:
					color #{_duration(transition)} ease,
					background-color #{_duration(transition)} ease;

				&::before {
					color: _palette(fg-light);
				}
			}
		}

		#search--input {
			padding: 0 2.25em 0 1.5em;
			border: none;
			border-radius: initial;
			background: transparent;
		}

		#search--cancel {
			$dimension: 1.2em;
			position: absolute;
			line-height: $dimension;
			border-radius: $dimension;
			height: $dimension;
			width: $dimension;
			top: (_size(element-height) - $dimension) / 2;
			right: 0.75em;
			text-align: center;

			&:hover {
				background: _palette(highlight);
			}
		}

		#search--results {
//			padding: 0;
			
			>* {
				width: 100%;
				display: inline-block;
				padding: 0.7em 0.5em;
				padding-left: 3em;
				border-bottom: $modal-border;
				position: relative;
				cursor: pointer;
				transition:
					color #{_duration(transition)} ease,
					background-color #{_duration(transition)} ease;

				&::before {
					content: '\f041';
					font-family: FontAwesome;
					font-size: 30px;
					position: absolute;
					top: 0;
					left: 0.55em;
					color: _palette(fg-lighter);
					transition:
						color #{_duration(transition)} ease,
						background-color #{_duration(transition)} ease;
				}

				&:hover {
					background-color: $modal-bg-color;

					&::before {
						color: _palette(fg-light);
					}
				}

				p {
					line-height: 1.2em;

					&.title {
						font-size: 1.2em;
						font-weight: bold;
					}

					&.subtitle {
						font-size: 1em;
						color: gray;
					}
				}

				&:first-child {
					border-top: $modal-border;
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}

		#search--details {
			padding-bottom: 1.5em;

			>* {
				padding: 0 1.5em;
			}

			#search--details__description {
				padding-top: 1em;
				padding-bottom: 1em;
				line-height: 1.5em;

				b {
					font-weight: bold;
				}
			}

			#search--details__buttons {

				button {
					font-weight: bold;

					&:last-child {
						float: right;
					}
				}				
			}
		}
	}