
/* Toggles */

	.toggle-list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;

		>* {
			flex-basis: 50%;

			@include breakpoint('<=xsmall') {
				flex-basis: 100%;
			}
		}
	}