
// FontAwesome subset created with: https://icomoon.io

	@import 'font-awesome.min.css';
/*	@font-face {
		font-family: FontAwesome;
		src:
			url('../fonts/icomoon.ttf') format('truetype'),
			url('../fonts/icomoon.woff') format('woff'),
			url('../fonts/icomoon.svg#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	.fa-envelope {
		&:before {
			content: "\e945"; 
		}
	}
	.fa-instagram {
		&:before {
			content: "\ea92"; 
		}
	}
	.fa-github {
		&:before {
			content: "\eab0"; 
		}
	}
	.fa-linkedin {
		&:before {
			content: "\eac9"; 
		}
	}
*/

// Source Sans Pro

	@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
/*	// cyrillic-ext
	@font-face {
		font-family: 'Source Sans Pro';
		font-display: swap;
		font-style: normal;
		font-weight: 300;
		src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwmhduz8A.woff2) format('woff2');
		unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
	}
	// cyrillic
	@font-face {
		font-family: 'Source Sans Pro';
		font-display: swap;
		font-style: normal;
		font-weight: 300;
		src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwkxduz8A.woff2) format('woff2');
		unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
	}
	// latin-ext
	@font-face {
		font-family: 'Source Sans Pro';
		font-display: swap;
		font-style: normal;
		font-weight: 300;
		src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwmRduz8A.woff2) format('woff2');
		unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
	}
	// latin
	@font-face {
		font-family: 'Source Sans Pro';
		font-display: swap;
		font-style: normal;
		font-weight: 300;
		src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
*/